@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

@media (max-width: 768px) {
  .fc-toolbar {
    font-size: 8px; /* Adjust the font size for smaller screens */
  }
}

/* Custom styles for the TagsInput component */
.custom-tags-input {
  outline: none !important;

  /* Add any other styles you want */
}

/* Custom styles for individual tags */
.custom-tag {
  outline: none !important;
  color: white !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(86 96 217 / var(--tw-bg-opacity)) !important;
  /* Add any other styles you want */
}

/* Custom styles for the tag remove button */
.custom-remove {
  /* Add any other styles you want */
}

/* Custom styles for suggestions (if applicable) */
.custom-suggestions {
  /* Add any other styles you want */
}
